<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwc.admin.mapper.AdminMapper">
    <select id="getAdmin" resultType="java.lang.Integer">
    select count(1) from user where username=#{username} and password=#{password}
  </select>
    <select id="allUser" parameterType="java.util.Map" resultType="com.lwc.admin.bean.Admin">
        select  (@id:=@id+1) as id,username,email from user,(select  @id:=0)as it where username like concat ('%',#{keywords},'%') order by id limit #{limit} offset #{offset}
    </select>
    <select id="allUserCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from user where username like concat ('%',#{keywords},'%')
    </select>
</mapper>